intent: kubernetes_cluster
flavor: gke
version: '1.0'
clouds:
- gcp
title: Simplified GKE Cluster
description: A simplified GKE cluster module with sensible defaults and minimal configuration
spec:
  type: object
  properties:
    initial_node_count:
      type: integer
      title: Initial Node Count
      description: Number of nodes in the default node pool
      default: 1
      minimum: 1
      maximum: 10
    machine_type:
      type: string
      title: Machine Type
      description: GCP machine type for nodes
      default: e2-standard-4
      enum:
      - e2-micro
      - e2-small
      - e2-medium
      - e2-standard-2
      - e2-standard-4
      - e2-standard-8
      - e2-standard-16
      - n2-standard-2
      - n2-standard-4
      - n2-standard-8
      - n2-standard-16
      - n2d-standard-2
      - n2d-standard-4
      - n2d-standard-8
    auto_upgrade:
      type: boolean
      title: Enable Auto-Upgrade
      description: Enable automatic cluster upgrades via release channel
      default: true
    enable_autoscaling:
      type: boolean
      title: Enable Node Autoscaling
      description: Enable autoscaling for the default node pool
      default: true
    min_nodes:
      type: integer
      title: Minimum Nodes
      description: Minimum number of nodes when autoscaling is enabled
      default: 1
      minimum: 1
      maximum: 30
      x-ui-visible-if:
        field: spec.enable_autoscaling
        values:
        - true
    max_nodes:
      type: integer
      title: Maximum Nodes
      description: Maximum number of nodes when autoscaling is enabled
      default: 10
      minimum: 1
      maximum: 30
      x-ui-visible-if:
        field: spec.enable_autoscaling
        values:
        - true
    whitelisted_cidrs:
      type: array
      title: Whitelisted CIDRs
      description: List of CIDR blocks that can access the Kubernetes API server
      default:
      - 0.0.0.0/0
      x-ui-override-disable: true
      items:
        type: string
        pattern: ^(\d{1,3}\.){3}\d{1,3}\/\d{1,2}$
  required: []
inputs:
  network_details:
    type: '@facets/gcp-network-details'
    displayName: Network
    description: The GCP VPC network where the GKE cluster will be created
  cloud_account:
    type: '@facets/gcp_cloud_account'
    displayName: Cloud Account
    description: The GCP Cloud Account where the GKE cluster will be created
    optional: false
    providers:
    - google
outputs:
  default:
    type: '@facets/kubernetes-details'
    title: Kubernetes Cluster Output
  attributes.k8s_details:
    type: '@facets/gke'
    title: Kubernetes Cluster Output
    description: The output for the GKE cluster with exec-based authentication using
      gke-gcloud-auth-plugin
    providers:
      kubernetes:
        source: hashicorp/kubernetes
        version: 2.38.0
        attributes:
          host: cluster.auth.host
          cluster_ca_certificate: cluster.auth.cluster_ca_certificate
          exec:
            api_version: cluster.auth.kubernetes_provider_exec.api_version
            command: cluster.auth.kubernetes_provider_exec.command
            args: cluster.auth.kubernetes_provider_exec.args
      helm:
        source: hashicorp/helm
        version: 3.0.2
        attributes:
          kubernetes:
            host: cluster.auth.host
            cluster_ca_certificate: cluster.auth.cluster_ca_certificate
            exec:
              api_version: cluster.auth.kubernetes_provider_exec.api_version
              command: cluster.auth.kubernetes_provider_exec.command
              args: cluster.auth.kubernetes_provider_exec.args
      kubernetes-alpha:
        source: hashicorp/kubernetes-alpha
        version: 0.6.0
        attributes:
          host: cluster.auth.host
          cluster_ca_certificate: cluster.auth.cluster_ca_certificate
          exec:
            api_version: cluster.auth.kubernetes_provider_exec.api_version
            command: cluster.auth.kubernetes_provider_exec.command
            args: cluster.auth.kubernetes_provider_exec.args
sample:
  kind: kubernetes_cluster
  flavor: gke
  version: '1.0'
  spec:
    initial_node_count: 1
    machine_type: e2-standard-4
    auto_upgrade: true
    enable_autoscaling: true
    min_nodes: 1
    max_nodes: 10
    whitelisted_cidrs:
    - 0.0.0.0/0
