intent: kubernetes_cluster
flavor: gke
version: '1.0'
clouds:
- gcp
title: GKE Cluster Control Plane
description: Creates a GKE cluster control plane without default node pool. Use kubernetes_node_pool
  module to add node pools.
spec:
  type: object
  properties:
    auto_upgrade:
      type: boolean
      title: Enable Auto-Upgrade
      description: Enable automatic cluster upgrades via release channel
      default: true
    whitelisted_cidrs:
      type: array
      title: Whitelisted CIDRs
      description: List of CIDR blocks that can access the Kubernetes API server
      default:
      - 0.0.0.0/0
      x-ui-override-disable: true
      items:
        type: string
        pattern: ^(\d{1,3}\.){3}\d{1,3}\/\d{1,2}$
  required: []
inputs:
  network_details:
    type: '@facets/gcp-network-details'
    displayName: Network
    description: The GCP VPC network where the GKE cluster will be created
  cloud_account:
    type: '@facets/gcp_cloud_account'
    displayName: Cloud Account
    description: The GCP Cloud Account where the GKE cluster will be created
    optional: false
    providers:
    - google
outputs:
  default:
    type: '@facets/kubernetes-details'
    title: Kubernetes Cluster Output
    providers:
      kubernetes:
        source: hashicorp/kubernetes
        version: 2.38.0
        attributes:
          host: attributes.cluster_endpoint
          cluster_ca_certificate: attributes.cluster_ca_certificate
          exec:
            api_version: attributes.kubernetes_provider_exec.api_version
            command: attributes.kubernetes_provider_exec.command
            args: attributes.kubernetes_provider_exec.args
      helm:
        source: hashicorp/helm
        version: 3.0.2
        attributes:
          kubernetes:
            host: attributes.cluster_endpoint
            cluster_ca_certificate: attributes.cluster_ca_certificate
            exec:
              api_version: attributes.kubernetes_provider_exec.api_version
              command: attributes.kubernetes_provider_exec.command
              args: attributes.kubernetes_provider_exec.args
      kubernetes-alpha:
        source: hashicorp/kubernetes-alpha
        version: 0.6.0
        attributes:
          host: attributes.cluster_endpoint
          cluster_ca_certificate: attributes.cluster_ca_certificate
          exec:
            api_version: attributes.kubernetes_provider_exec.api_version
            command: attributes.kubernetes_provider_exec.command
            args: attributes.kubernetes_provider_exec.args
  attributes:
    type: '@facets/gke'
    title: GKE Cluster Attributes
    description: Additional GKE cluster attributes without provider configuration
sample:
  kind: kubernetes_cluster
  flavor: gke
  version: '1.0'
  spec:
    auto_upgrade: true
    whitelisted_cidrs:
    - 0.0.0.0/0
